@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --background: #16161eb3;
  --blackback: #000000;
  --foreground: #a9b1d6;
  --grey: #c9c9c9;
  --black: #414868;
  --red: #f7768e;
  --green: #9ece6a;
  --yellow: #e0af68;
  --blue: #7aa2f7;
  --magenta: #bb9af7;
  --cyan: #7dcfff;
  --white: #a9b1d6;
  --bright-black: #1a1b26;
  --bright-red: #db4b4b;
  --bright-green: #73daca;
  --bright-yellow: #ff9e64;
  --bright-blue: #2ac3de;
  --bright-magenta: #ff007c;
  --bright-cyan: #89ddff;
  --bright-white: #c0caf5;
}

body {
  color: var(--grey);
  font-family: "JetBrains Mono", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background-color: var(--blackback);
  user-select: none;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.date,
.weather,
.network,
.memory,
.cpu,
.media {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background-color: var(--grey);
  color: transparent;
  margin-right: 7px;
  width: 12px;
  height: 12px;
  padding: 1px 3px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--grey);
  cursor: pointer;

  &.displayed {
    background: var(--grey);
  }

  &.focused,
  &:hover {
    background: var(--grey);
    color: transparent;
  }
}

.binding-mode,
.tiling-direction {
  background: var(--bright-black);
  color: var(--bright-white);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  margin: 0 7px;
  cursor: pointer;

  &:hover {
    background: var(--black);
  }
}

.binding-mode {
  margin-right: 4px;
}

/* ICONS */
i {
  margin-right: 7px;
}

.logo {
  color: var(--grey);
}

.date i {
  margin-bottom: 2px;
  color: var(--grey);
}
.time i {
  color: var(--grey);
}

.network i {
  color: var(--grey);
}
.network i {
  margin: 0;
}

.media i {
  color: var(--grey);
}

.weather {
  margin-bottom: 2px;
}
.weather i {
  color: var(--grey);
  font-size: 16px;
}

.memory i {
  color: var(--grey);
}

.battery i {
  color: var(--grey);
}
